<footer class="footer bg-dark py-5">
  <div class="container">
    <div class="footer-content">
      <div>
        <h1>Loruki</h1>
        <p>Copyright &copy; 2023</p>
      </div>
      <div>
        <nav>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/features">Features</a></li>
            <li><a routerLink="/docs">Docs</a></li>
          </ul>
        </nav>
      </div>

      <div class="social">
        <a href=""><i class="fab fa-github fa-2x"></i></a>
        <a href=""><i class="fab fa-facebook fa-2x"></i></a>
        <a href=""><i class="fab fa-instagram fa-2x"></i></a>
        <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
