<section class="features-main my-2">
  <div class="container grid grid-3">
    <div class="card flex">
      <i class="fas fa-server fa-3x"></i>
      <p>{{ serverFeaturesMainText }}</p>
    </div>
    <div class="card flex">
      <i class="fas fa-network-wired fa-3x"></i>
      <p>{{ networkFeaturesMainText }}</p>
    </div>
    <div class="card flex">
      <i class="fas fa-laptop-code fa-3x"></i>
      <p>{{ laptopFeaturesMainText }}</p>
    </div>
    <div class="card flex">
      <i class="fas fa-database fa-3x"></i>
      <p>{{ databaseFeaturesMainText }}</p>
    </div>
    <div class="card flex">
      <i class="fas fa-power-off fa-3x"></i>
      <p>{{ powerFeaturesMainText }}</p>
    </div>
    <div class="card flex">
      <i class="fas fa-upload fa-3x"></i>
      <p>{{ uploadFeaturesMainText }}</p>
    </div>
  </div>
</section>
