<section class="stats">
  <div class="container">
    <h3 class="stats-heading text-center my-1">
      {{ statsHeaderText }}
    </h3>

    <div class="grid grid-3 text-center my-4">
      <div>
        <i class="fas fa-server fa-3x"></i>
        <h3>108,349</h3>
        <p class="text-secondary my-1">Deployments</p>
      </div>
      <div>
        <i class="fas fa-upload fa-3x"></i>
        <h3>987 TB</h3>
        <p class="text-secondary my-1">Published</p>
      </div>
      <div>
        <i class="fas fa-project-diagram fa-3x"></i>
        <h3>2,346</h3>
        <p class="text-secondary my-1">Projects</p>
      </div>
    </div>
  </div>
</section>
