<section class="languages">
  <h2 class="md text-center my-2">Supported Languages</h2>
  <div class="container flex">
    <div class="card">
      <h4>Node.js</h4>
      <img src="assets/logos/node.png" alt="">
    </div>
    <div class="card">
      <h4>Python</h4>
      <img src="assets/logos/python.png" alt="">
    </div>
    <div class="card">
      <h4>C#</h4>
      <img src="assets/logos/csharp.png" alt="">
    </div>
    <div class="card">
      <h4>Ruby</h4>
      <img src="assets/logos/ruby.png" alt="">
    </div>
    <div class="card">
      <h4>PHP</h4>
      <img src="assets/logos/php.png" alt="">
    </div>
    <div class="card">
      <h4>Scala</h4>
      <img src="assets/logos/scala.png" alt="">
    </div>
    <div class="card">
      <h4>Clojure</h4>
      <img src="assets/logos/clojure.png" alt="">
    </div>
  </div>
</section>
